
{% extends 'base.html.twig' %}

{% block body %}
{# {% include "/security/inscription.html.twig" %} 
{% include "/security/login.html.twig" %}  #}

<div class="div_teteContact">
    <div class="jumbotron p-0 m-0 text-center">
        <label class="">Vente Pro | <i class="fas fa-question"></i> Besoin d'aide | Contact mail tel skype fb | </label>      
    </div>
</div>

{% endblock %}
