{% extends 'base.html.twig' %}

{% block body %}
<div class="div_teteRecherche_menu d-none">
    <div>
        <div class="jumbotron p-1 m-0">
            <div class="row">      
                <div class="col-md-2"></div>      
                <div class="col-md-2 row"> 
                    <div class="col-md-6 p-0 text-center">
                        <button type="button" class="btn_menu btn btn-default btn-sm" href="#"><i id="fontawesomeMenu" class="fas fa-bars fa-2x"></i></button>
                    </div>
                    <div class="col-md-6 pt-0">
                        <a href="{{path('default')}}">
                            <img class="logo" src="{{ asset('/build/images/Logo.008571c7.png') }}" alt="logo"/>
                        </a>
                    </div>
                
                </div>      
                <div class="col-md-3 p-0">
                    <div class="input-group">
                        <input type="text" id="" class="form-control inputTeteRecherche" placeholder="{%trans%}Marque{%endtrans%} , {%trans%}Réference{%endtrans%} , {%trans%}Produit{%endtrans%}..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 row">
                    <div class="col-md-6 p-2 text-center"> 
                        <a class="user" href="{{path('security_login')}}"><i class="fas fa-user"></i><br>{%trans%}Compte{%endtrans%}</a>
                    </div>
                    <div class="col-md-6 p-2 text-center"> 
                        <a class="panier" href=""><i class="fas fa-shopping-basket"></i><br>{%trans%}Panier{%endtrans%}</a>
                    </div>
                </div>
                <div class="col-md-2">
                <div class="col-md-6 text-center ">
                    <div class="w3-dropdown-hover">
                        <button class="btn btn-default" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe"></i><br>{%trans%}Langue{%endtrans%} 
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"id="fr">{%trans%}Français{%endtrans%}</a>
                            <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"id="ang">{%trans%}Anglais{%endtrans%}</a>
                        
                        </div>
                    </div>
                </div>
                </div>
            </div>      
        </div>
    </div>
    <div id="id_div_teteCategorie" class="d-none">
        <div class="jumbotron p-0 m-0 ">
            <div class="row">
                <nav>
                    <ul class="navigationLine">
                        {% for cat in categories %}
                        <li class="dropdownMenuButton" id="idCat_{{cat.getId()}}" style="width:{{ nbCat }}%">
                            <a class="lien_style" href="#">{{ cat.getCatLibelle()| trans}}</a>
                            <!-- Sous menu -->
                            <ul>
                                {% for scat in sous_categories %}
                                    {% if ( scat.getIdCatScat.getId() == cat.getId() ) %}
                                        <li id='idSousCat_{{scat.getId()}}'class="listSousMenu">
                                            <a id='idSousCat_{{scat.getId()}}' class="lien_style" href="#">{{ scat.getScatLibelle()|trans}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}