
{% extends 'base.html.twig' %}

{% block body %}

<div id="" class="div_teteCategorie text-center">
    <div class="jumbotron p-0 m-0 ">
        <div class="row">
        <nav>
            <ul class="navigationLine">
                {% for cat in categories %}
                <li class="dropdownMenuButton" id="idCat_{{cat.getId()}}" style="width:{{ nbCat }}%">
                    <a class="lien_style disabled" href="#">{{ cat.getCatLibelle()| trans}}</a>
                    <!-- Sous menu -->
                    <ul>
                        {% for scat in sous_categories %}
                            {% if ( scat.getIdCatScat.getId() == cat.getId() ) %}
                                <li id='idSousCat_{{scat.getId()}}'class="listSousMenu">
                                    <a id='idSousCat_{{scat.getId()}}' class="lien_style" href="{{ path('sous_categorie' , {sousCat: scat.getId()}) }}">{{ scat.getScatLibelle()|trans}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
               {% endfor %}
            </ul>
        </nav>
            {# {% for cat in categories %}
                <div class="" style="width:{{ nbCat }}%">
                    <div class="dropdown">
                        <button disabled class="btn btn-primary dropdown-toggle text-center dropdownMenuButton" type="button" id="idCat_{{cat.getId()}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cat.getCatLibelle()| trans}}</button>
                        <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton">
                            {% for scat in sous_categories %}
                                {% if ( scat.getIdCatScat.getId() == cat.getId() ) %}
                                    <button id='idSousCat_{{scat.getId()}}'class="dropdown-item dropdownSousMenu">{{ scat.getScatLibelle()|trans }}</button> 
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> 
                </div>
            {% endfor %} #}
        </div>
    </div>
</div>


  
  
{% endblock %}
