
<div class="container containerLogin">
    <div class="card-deck m-2">
        <div class="card">
            <div class="container">
                <h3 class="text-center">Connexion à votre <b>compte</b></h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 border-right">
                                <form id="divFormLogin" action="{{path('security_login')}}" method="post">
                                    <div class="form-group row divEmailLogin">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-left">Adresse email</label>
                                        <div class="col-sm-8">
                                        <input type="text" class="form-control-sm form-control green-input inputTypeMail" id="staticEmail" require name="_username" placeholder="Email ...">
                                        </div>
                                    </div>
                                    <div class="form-group row divMdpLogin">
                                        <label for="inputPassword" class="col-sm-4 col-form-label text-left">Mot de passe</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control-sm form-control green-input" id="inputPassword" name="inputPassword" placeholder="Mot de passe ...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-5 text-right">
                                            <button type="submit" class="btn btn-success" id="btnLogin">Se connecter</button>
                                        </div>
                                    </div>
                                </form> 
                                <div class="text-center m-4">
                                    <b><span>Inscription<a class="lien_style" href="#" id="link_inscription"> <i class="fas fa-user-plus"></i></a> |</span></b>
                                    <b><a class="lien_style oublimdp mr-3" id="link_mdp_oublie" href="#">Mot de passe oublié</a></b>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <b>api facebook connect</br>api linkedin connect</br>api google connect</b>
                            </div>
                        </div>
                        
                    </div> 
                </div>
               
            </div>
        </div>
    </div>
</div>

