
<!-- Modal recupe mdp -->
<div class="modal fade" id="modalRecupMdp" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>Récuperation de votre <b>compte</b> </h3>
                <hr>
                <div class="row divFormRecupMdp">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-left">{% trans %}email{% endtrans %}</label>
                                <div class="col-sm-8">
                                <input type="email" class="form-control-sm form-control green-input inputTypeMail" id="" name="inscriMail" placeholder="{%trans%}email{%endtrans%}  ...">
                                </div>
                            </div>
                            <div class="col-md-12 text-right" style="margin:15px;">
                                <button type="submit" class="btn btn-danger" id="btn_modal_annul_recup_mdp">Annuler</button>&nbsp;
                                <button type="submit" class="btn btn-success " id="">Valider</button>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>