<!-- Modal inscription -->
<div class="modal fade" id="modalInscription" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>Création de votre <b>compte</b> </h3>
                <hr>
                <div class="row divFormInscription">
                    <div class="col-md-1"></div>
                        <div class="col-md-10 divInscription">
                            <div class="form-group row">
                                <label for="inscriNom" class="col-sm-4 col-form-label text-left">{% trans %}nom{% endtrans %}</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control-sm form-control green-input" id="inscriNom" name="inscriNom" placeholder="{%trans%}nom{%endtrans%}  ...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inscriMail" class="col-sm-4 col-form-label text-left">{% trans %}email{% endtrans %}</label>
                                <div class="col-sm-8">
                                <input type="email" class="form-control-sm form-control green-input inputTypeMail" id="inscriMail" name="inscriMail" placeholder="{%trans%}email{%endtrans%}  ...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inscriMdp" class="col-sm-4 col-form-label text-left">{% trans %}mdp{% endtrans %}</label>
                                <div class="col-sm-8">
                                <input type="password" class="form-control-sm form-control green-input" id="inscriMdp" name="inscriMdp" placeholder="{%trans%}mdp{%endtrans%} ...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inscriMdpConfirm" class="col-sm-4 col-form-label text-left">{% trans %}confirmation_mdp{% endtrans %}</label>
                                <div class="col-sm-8">
                                <input type="password" class="form-control-sm form-control green-input" id="inscriMdpConfirm" name="inscriMdpConfirm" placeholder="{%trans%}confirmation_mdp{%endtrans%}  ...">
                                </div>
                            </div>
                            <div class="col-md-12 text-right" style="margin:15px;">
                                <button type="submit" class="btn btn-danger" id="btnInscriptionAnnul">Annuler</button>&nbsp;
                                <button type="submit" class="btn btn-success " id="bnt_inscription_util">Enregistrer</button>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

