
<div class="row">
    <div class="col-md-2"></div>
    <div class="div_block1 col-md-8">
        <div class="container p-1 m-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="p-0 m-0 text-center">Produits</h3>
                </div>
                <div class="card-body">
                    {% for prod in produit %}

                        <div class="border mb-1">
                            <h4 class="p-1 m-1"> {{ prod.getProdName() }} </h4>
                            <div class="row p-1">
                                <div id="div_id_produit_image_{{ prod.getId() }}" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img width="100" id="img_id_produit_{{ prod.getId() }}" src="{{asset('build/images/produit1.99b2f6e6.jpg')}}" class="rounded float-left" alt="...">
                                        </div>
                                        <div id="div_id_produit_caracteristique_{{ prod.getId() }}" class="col-md-6">
                                            <b> Caractéristique </b>
                                            <hr class="p-0 m-0">
                                            <b><label>Nom :</b> {{ prod.getProdName() }} <br> <b>Prix :</b>  {{ prod.getProdPrix() }}</label></b><br>
                                            <a class="lien_style" href="{{ path('caracteristique produit' , { idProduit : prod.getId() })}}">[+] Plus de détail [+]</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    {% endfor %} 
                </div> 
                <div class="card-footer"></div>
            </div>
        </div>
    <div>
    <div class="col-md-2"></div>
</div>

