
<div class="row">
    <div class="col-md-2"></div>
    <div class="div_block1 col-md-8">
        <div class="container p-1 m-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="p-0 m-0 text-center">    
                        {# {% for prod in produit %} #}
                            Caracteristiques {{ produit_nom }}
                        {# {% endfor %} #}
                    </h3> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                        {% for caract_prod in caracteristique %}
                    
                            <label class="col-md-6" style="padding-left:15px; background: grey"><b>Id produit:</b></label> {{ caract_prod.getId() }}<br>
                            <label class="col-md-6" style="padding-left:15px; background: grey"><b>Marque produit:</b></label> {{ caract_prod.getMarque() }}<br>
                            <label class="col-md-6" style="padding-left:15px; background: grey"><b>Modele produit:</b></label> {{ caract_prod.getModele() }}<br>
                            <label class="col-md-6" style="padding-left:15px; background: grey"><b>Capacité produit:</b></label>{{ caract_prod.getCapaciteReservoir() }}<br>
                            <label class="col-md-6" style="padding-left:15px; background: grey"><b>Embrayage:</b></label>{{ caract_prod.getEmbrayage() }}<br>
                            <label class="col-md-6" style="padding-left:15px; background: grey"><b>Nombre porte:</b></label>{{ caract_prod.getNbreporte() }}<br>                        
                            
                            
                        {% endfor %}
                        {# {% for ch in champs %}
                            <label><b>{{ch}}:</b></label></br>
                        {% endfor %} #}
                        
                        </div>
                        <div class="col-md-6">
                            <img width="375" src="{{asset('build/images/motocross.png')}}" class="rounded float-left" alt="...">
                        </div>
                    </div>           
                </div> 
                <div class="card-footer">
                </div>
            </div>
        </div>
    <div>
    <div class="col-md-2"></div>
</div>