
<div class="row">
    <div class="col-md-2"></div>
    <div class="div_block1 col-md-8">
        <div class="container p-1 m-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="p-0 m-0 text-center">    
                        {# {% for prod in produit %} #}
                            Caracteristiques {{ produit_nom }}
                        {# {% endfor %} #}
                    </h3> 
                </div>
                <div class="card-body">
                    {% for caract_prod in caracteristique %}
                        <label class="col-md-4"><b>Id produit:</b></label> {{ caract_prod.getId() }}<br>
                         <label class="col-md-4"><b>Superficie:</b></label> {{ caract_prod.getSuperficie() }}<br>
                        <label class="col-md-4"><b>Nbre pièces:</b></label> {{ caract_prod.getNbrePieces() }}<br>
                       <label class="col-md-4"><b>Lieu:</b></label> {{ caract_prod.getLieu() }}<br>
                    {% endfor %}

                </div> 
                <div class="card-footer"></div>
            </div>
        </div>
    <div>
    <div class="col-md-2"></div>
</div>