
<div class="row">
    <div class="col-md-2"></div>
    <div class="div_block1 col-md-8">
        <div class="container p-1 m-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="p-0 m-0 text-center">    
                        {# {% for prod in produit %} #}
                            Caracteristique {{ produit_nom }}
                        {# {% endfor %} #}
                    </h3> 
                </div>
                <div class="card-body">
                    {% for caract_prod in caracteristique %}
                        <label class="col-md-4"><b>Id produit:</b></label> {{ caract_prod.getId() }}<br>
                        <label class="col-md-4"><b>Marque produit:</b> </label> {{ caract_prod.getMarque() }}<br>
                        <label class="col-md-4"><b>Processeur produit:</b> </label> {{ caract_prod.getProcesseur() }}<br>
                        <label class="col-md-4"><b>Graphique:</b> </label> {{ caract_prod.getGraphique() }}<br>
                        <label class="col-md-4"><b>Carte mère:</b> </label> {{ caract_prod.getCarteMere() }}<br>
                    {% endfor %}

                </div> 
                <div class="card-footer"></div>
            </div>
        </div>
    <div>
    <div class="col-md-2"></div>
</div>