{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <div class="container p-0 m-0"> 
        <div id="slideshow">
            {% include "/page_tete/contact.html.twig" %}
            {% include "/page_tete/logo_recherche.html.twig" %}
            {% include "/page_tete/logo_recherche_menu.html.twig" %}
            {% include "/page_tete/menu_categorie.html.twig" %}

            {% include "/page_contenu/body_div_block/image_full_body.html.twig" %} 
            {% include "/security/login.html.twig" %}
            {# modal #}
            {% include "/security/modal_recup_mdp.html.twig" %}
            {% include "/security/modal_inscription.html.twig" %}

          
        </div> 
    </div>  
    {# {% include "/page_pied/pied.html.twig" %}   #}
{% endblock %}