{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <div class="container p-0 m-0"> 
        <div id="slideshow">
            {% include "/page_tete/contact.html.twig" %}
            {% include "/page_tete/logo_recherche.html.twig" %}
            {% include "/page_tete/logo_recherche_menu.html.twig" %}
            {% include "/page_tete/menu_categorie.html.twig" %}

            {% include "/page_contenu/body_div_block/image_full_body.html.twig" %}

            {# {% include "/page_contenu/body_div_block/content_block1.html.twig" %}  #}
           
            {% include "/page_contenu/body_div_contact/div_contact.html.twig" %} 
        </div> 
    </div>  
    
    {# {% include "/page_pied/pied.html.twig" %} #}
{% endblock %}
