    /* html,body {
    width:100%;
    height:100%;
    } */
    body {
        background-image: url('../images/a1.jpg');
    }

  .container 
  {
  width:100%;
  height:100%;
  max-width: 100%
  }
  #slideshow {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width:100%;
    height:100%;
    display: inline-block;
  }
  .elemnt,.elemnt1,.elemnt2,.elemnt3 {
  position: absolute;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 584px;
  display: inline-block;
  text-align: center;
  }
  /* span{
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 hsla(0,0%,30%, .3);
    font-size:4em;
    background-color:#fff
  } */
  .elemnt1 {
    animation: xfade 16s 4s infinite;
    background-image: url('../images/a1.jpg');
  }
  .elemnt2 {
    animation: xfade 16s 6s infinite;
    background-image: url('../images/a0.jpg');
  }
  .elemnt3 {
    animation: xfade 16s 2s infinite;
    background-image: url('../images/a2.jpg');
  }
  .elemnt4 {
    animation: xfade 16s 8s infinite;
    background-image: url('../images/fleur1.jpg');
  }
  .elemnt5 {
    animation: xfade 16s 6s infinite;
    background-image: url('../images/fleur2.jpg');
    
  }
  .elemnt6 {
    animation: xfade 16s 2s infinite;
    background-image: url('../images/fleur3.jpg');
  }
  .elemnt7 {
    animation: xfade 16s 0s infinite;
    background-image: url('../images/fleur4.jpg');
    
  }
  @keyframes xfade{
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
  }
  @keyframes xfade1{
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
  }
  @keyframes xfade2{
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
  }
  @keyframes xfade3{
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
  }


  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
}
h1 {
  margin: 40px 20px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* menu en colonne */
.navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background: #ccc;
}
.navigation > li {
  position: relative;
  width: 100px;
  line-height: 50px;
  text-align: center;
  flex:1;
  z-index: 1;
}
.navigation a {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  background: #5CA2FF;
  color: #fff;
}
.navigation>li:hover>a {
  background: #323232;
}
/* sous menu */
.navigation ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
}
.navigation>li:hover ul {/* affichage du sous menu lors du survol sur l'item parent */
  display: block;
}
.navigation ul a {
  background: #323232;
}
.navigation ul a:hover {
  background: #5CA2FF;
}


