.div_teteContact{
    .jumbotron{
        background-color: rgb(32, 31, 31);
        border-radius: 0px;
        label{
            color: white;
        }

        .fas{
            font-size: 13px;
        }
    }
}

.div_teteRecherche{
    z-index: 1;
    .jumbotron{
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        a{
            text-decoration: none;
        }

        .logo{
            width: 80px;
        }

        .input-group{
            padding-top: 0.8rem;
        }

        .panier,.user{
            color: black;
            
        }
    }
}

.div_teteRecherche_menu{
    font-size: 13px;
    overflow: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .jumbotron{
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        height: 50px;
        a{
            text-decoration: none;
        }

        .logo{
            width: 60px;
        }

        .input-group{
            padding-top: 0.1rem;
        }

        .panier,.user,.menu{
            color: black;
            font-weight: bold;
            
        }

        .btn_menu:focus{
            outline: none !important;
        }
    }

}



.div_teteCategorie,#id_div_teteCategorie{
    .jumbotron{
        background-color: rgb(32, 31, 31);
        border-radius: 0px;

        label{
            color: white;
        }

        // .dropdown{
        //     width: 100%;
        // }

        // .dropdown:hover>.dropdown-menu {
        //     display: block;
        // }
          
        // .dropdownMenuButton{
        //     border-color: transparent;
        //     background-color: transparent;
        // }

        /* debut css sous menu */

        /* menu en ligne */
        nav{
            width: 98.9%
        }
        .navigationLine {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 2px;
            background: #ccc;
            width: 100%;
        }
        .navigationLine li {
            width: 100%;
            // line-height: 50px;
            text-align: center;
            flex:1;
        }
        .navigationLine a {
            display: block;
            padding: 10px;
            text-transform: uppercase;
            background: rgb(32, 31, 31);
            color: #fff;
        }
        .navigationLine>li:hover>a {
            background: #323232;
        }
        /* sous menu */
        .navigationLine ul {
            display: none;
            position: absolute;
            width: 100%;
            top: 100%;
            left:0;
        }
        .navigationLine>li:hover ul {/* affichage du sous menu lors du survol sur l'item parent */
            z-index: 100;
            display: flex;
            padding-left: 10px;
        }
        .navigationLine ul a {
            background: #323232;
        }
        .navigationLine ul a:hover {
            background: rgb(173, 175, 179);
        }
        
        /* fin css sous menu */
          
    }

}

.div_teteCategorie_scroll{
    display: block;
    overflow: hidden;
    position: fixed;
    top: 11%;
    width: 100%;
    .jumbotron{
        background-color: rgb(32, 31, 31);
        border-radius: 0px;

        label{
            color: white;
        }

        .dropdown{
            width: 10%;
        }

        .dropdown:hover>.dropdown-menu {
            display: block;
        }
          
        .dropdownMenuButton{
            border-color: transparent;
            background-color: transparent;
        }
          
    }

}

.body_div_contact{
    width: 13%;
    padding: 5px;
    position: fixed;
    top:30%;
    display: none;
    left: 0px;
    .card-body{
        padding-bottom: 200px;
    }
}

// #idLinkMdpOublie{
//     padding:0px;
// }


.footer{
    background-color: rgb(32, 31, 31);
    color: white;
    // position:absolute;
    width: 100%;
    // bottom: 0;
    padding: 3px;
  }
