body{

    .lien_style{
        text-decoration: none;
    }

    .lien_style:hover{
        color: rgb(33, 33, 69);
        text-shadow: 1px 0px rgb(33, 33, 69);
    }
    
}

/* disabled link */

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
  }