<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <h3 class="text-center" > Nous contacter </h3>
                    <form action="" class="text-center">
                        <div class="row p-1 text-left">
                            <label class="col-md-4" for="pied_input_email">Email:</label>
                            <div class="col-md-8">
                                <input  type="email" class="form-control" id="pied_input_email" placeholder="Email ..." name="pied_input_email">
                            </div>
                        </div>
                        <div class="row p-1 text-left">
                            <label class="col-md-4" for="pied_input_nom">Nom:</label>
                            <div class="col-md-8">
                                <input  type="text" class="form-control" id="pied_input_nom" placeholder="Nom ..." name="pied_input_nom">
                            </div>
                        </div>
                        <div class="row p-1 text-left">
                            <label class="col-md-4" for="pied_input_message">Message:</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="pied_input_message" placeholder="Message..." name="pied_input_message"></textarea>
                            </div>
                        </div>
                        
                        <div class="text-right pt-3">
                            <button type="submit" class="btn btn-success">Envoyer</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center" > Nous suivre </h3>
                    <div class="row" style="margin-left:45px">
                        <div class="col-md-4">
                            <a href="#">
                                <i class="fab fa-facebook-f fa-w-9 fa-7x"></i>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-w-9 fa-7x"></i>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <i class="fab fa-linkedin fa-w-9 fa-7x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>