<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/ebizina.cf570a1f.ico') }}" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
